body {
    margin: 10px;
    padding-top: 90px;
    background-color: rgb(200, 210, 255);
    font-style: verdana;
    text-align: center;
}

#text {
    vertical-align: middle;
    width: 400px;
    margin: auto;
    background-color: white;
    border: 1px solid #333;
    color: red;
}