body {
    margin: 10px;
    padding-top: 100px;
    background-color: rgb(200, 210, 255);
}

#text {
    width: 800px;
    margin: auto;
    background-color: white;
    border: 1px solid #333;
    padding-left: 10px;
}